

<p>Name</p><%= @UserName %>
<p>Password</p><%= @Password %>
<p>Confirmpassword</p><%= @confirm_password%>
<p>Age</p><%= @Age %>
<p>Email</p><%= @email %>
<p>Languages</p><%= @Languages %>
<p>Gender</p><%= @Gender %>




